html{
  font-size: 100%;
  font-size: 62.5%;
}
@media(max-width:920px){
  html{
    font-size: 50%;
  }
}
@media(max-width:768px){
  html{
    font-size: 62.5%;
  }
}
/*@media(max-width:500px){
  html{
    font-size: 50%;
  }
}*/

.container1280{
  max-width:1280px;
  margin: 0 auto;
}
.container800{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}
img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
a{
  text-decoration: none;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
}
.merri{
  font-family: 'Merriweather Sans', sans-serif;
}
.shippori{
  font-family: 'Shippori Mincho', serif;
}



:root{
  --text: #000000;
  --light-green: #F0F5E1;
  --grass-green: #96C519;
  --green: #1B9240;
  --mos-green: #468459;
  --dark-green: #0C4324;
  --white: #FFFFFF;
  --black: #000000;
}



/*ここからbody*/


/*haeder*/
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:16px;
  left: 0;
  z-index: 900;
  width: 100%;
}
#about-header .header-wrapper{
  position: initial;
}
.header-logo{
  max-width: 240px;
  margin-left: 47px;

}
.header-title-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-right: 32px;
 /* position: absolute;
  top: 20px;
  right: 32px;
  z-index: 999;*/
}
.header-title-wrapper li{
  font-weight: 400;
  /*line-height: 20.27px;*/
  /*？？？？？親要素で色指定しているのに、aタグ文字色が変わらないのは何故？？？？？ */
  list-style: none;
}
#about-header .header-title-wrapper li a{
  color: var(--mos-green);
}
#about-header .header-title-wrapper li:last-of-type a{
  color: var(--white);
}

.header-title-wrapper li:last-child{
  font-weight: 700;
  background-color: var(--dark-green);
  width: 172px;
  text-align: center;
  border-radius: 4px;
  padding: 11px 0;
}

.header-title-wrapper li > a{
  color: var(--white); 
  font-size: 1.4rem;

}

.header-title-wrapper-index li > a{
text-shadow: 1px 1px 2px #468459;
}

/*wordpressではliにクラスがつけられない為、上記.header-title-wrapper li > aに書き換え
.shadow{
  text-shadow: 1px 1px 2px #468459;
}
*/


@media(max-width:1050px){
 
  .header-title-wrapper{
    display: none;
  }


}
@media(max-width:768px){

  .header-title-wrapper{
    display: none;
  }
}

/*ここからfv*/
#fv{
  position: relative;
}

.fv-wrapper{
  display: flex;

}
.fv-left-wrapper{
  margin: 118px 6% 73px 7.9%;
  width: 21.1%;
  display: flex;
  justify-content: end;
  /*?????子要素が1つしかないのにdisplay-flexが効くのか?????*/
}
.fv-text-wrap{
  position: relative;
  width: 90px;
  height: 393px;
}
.fv-text-img1{
  height: 133.76px;
  width: 146.64px;
  position: absolute;
  top: -40px;
  left: 16px;
}
.fv-text-img2{
  height: 111.6px;
  width: 122.11px;
  position: absolute;
  top: 249px;
  left: -58px;

}
.fv-left-text{
  color: var(--mos-green);
  font-weight: 600;
  font-size: 28px;
  line-height: 40.54px;
  letter-spacing: 4.2px;
  writing-mode: vertical-rl;
  position: absolute;
  top: 12px;
  left: 2px;
  z-index: 900;
}
.fv-left-line{
  border-right: 1px var(--mos-green) dashed;
}


.fv-right-wrapper{
  width: 78.9%;
  height: 584px;
  position: relative;
  overflow: hidden;
}
.about-right-wrapper{
  height: 400px;
}

.fv-under-img{
 width: 719px;
 height: 535px;
 position: absolute;
 top: -90px;
 left: 0px;
 z-index: 0;
}
.about-under-img{
  height: 200px;
}

.fv-upimg-wrapper{
  width: 100%;
  position: absolute;
  top: -115px;
  left: 32px;
  border-radius: 30vw 0 0 35vw;
  overflow: hidden;
  z-index: 5;
}
#slick-1{
  display: none;
}
.about-upimg-wrapper{
  border-radius: 45% 0 0 55%;
  left: 25px;
 
}
.about-upimg-wrapper2{
  display: none;
}
.fv-img{
  height: 699px;
  width: 100%;
  object-fit: cover;
  /*border-radius: 30vw 0 0 35vw;*/
  /*transform: translateY(-115px);*/
}
.fv-img-about{
  height: 699px;
  object-fit: cover;

}



/*2シート目（about.html）以降で使う用*/



.about-header-title{
  color: var(--mos-green);
}
.about-header-title-reserve{
  background-color: var(--white);
}

.about-left-wrapper{
  margin: 118px 6% 73px 7.9%;
  width: 21.1%;

}
.about-text-wrap{
  position: relative;
  max-width: 200px;
  height: auto;
  top: -50px;
}
.about-text-img1{
  height: 133.76px;
  width: 146.64px;
  position: absolute;
  top: -40px;
  left: -20px;
}

.about-left-text{
  color: var(--mos-green);
  position: absolute;
  top: 12px;
  left: 2px;
  max-width: 180px;
  z-index: 10;
}
.about-left-line-1{
  border-right: none;
  font-weight: 500;
  font-size: 3.2rem;

}
.about-left-line-2{
  border-right: none;
  font-weight: 400;
  font-size: 1.6rem;
  border-bottom: 1px var(--mos-green) dashed;
}

@media(max-width:768px){
  .fv-left-wrapper{
    position: absolute;
    z-index: 990;
  
  }
  .about-left-wrapper{
    position: absolute;
    bottom: 60px;
    z-index: 990;
    margin: 20px 6% 73px 7.9%;
    width: 21.1%;
  
  }
  .fv-right-wrapper{
    width: 85%;
    height: 555px;
    margin-left: auto;
    margin-right: 0;
  }
  .about-right-wrapper{
    width: 98%;
    height: 250px;
  }
  .fv-upimg-wrapper{
    top: -115px;
    left: 10px;
    border-radius: 50vw 0 0 55vw;
    
  }
  #slick-1{
    display: block;
  }
  #slick{
    display: none;
  }
  .about-upimg-wrapper{
    display: none;
  }
  .about-upimg-wrapper2{
    display: block;
    border-radius: 50% 0 0 50%;
    top: -250px;
    left: 40px;
    width: 100%;
    height: 520px;
  }
  .fv-img{
    width: 100%;
    object-fit: cover;
  }

 
  .fv-img-about{
    object-fit: cover;
    width: 180%;
  }
  .fv-img-about2{
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 250px;
    z-index: 6;
  }
  .about-under-img{
    top: -360px;
    left: 0px;
    
  }
 
}


/*ここからnews*/
.news-wrpper{
  display: flex;
  align-items: center;
}
.news-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  margin-left: 100px;
}
.news-news{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--mos-green);
}
.news-info{
  font-size: 1.8rem;
  color: var(--mos-green);
  margin-left: 10px;
}
.news-day{
  color: var(--text);
  margin-left: 45px;
  margin-right: 5px;
}
.news-content{
  font-weight: 700;
  font-size: 1.4rem;
  background-color: var(--mos-green);
  color: var(--white);
  text-align: center;
  width: 88px;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;

}
.news-content a{
  color: var(--white);
}

.news-title{
  margin-left: 28px;
  font-size: 1.6rem;
  color: var(--text);
}
.news-title-a{
  color: var(--black);
}
.news-allinfo{
  margin: 4px 96px 0 0;
}
.news-allinfo-a{
  color: var(--text);
}
.news-wrap2{
  display: none;
}

@media(max-width:950px){
  .news-wrap{
    display: none;
  }
  .news-wrap2{
    display:block;
    max-width: 700px;
    margin: 0 auto 0 20px;
  }
  .news-news{
    display: inline-block;
  }
  .news-info{
    display: inline-block;
    font-size: 1.8rem;
    color: var(--mos-green);
    margin-left: 10px;
  }
  .news-wrapper2-res{
    display: flex;
    
  }.news-day{
    color: var(--text);
    margin-left: 0;
    margin-right: 5px;
  }
  .news-wrapper2-2{
    margin-right: 28px;
  }
  .news-allinfo2{
    margin: 20px;
    text-align: right;
  }


}

/*ここからconcept*/
#concept{
  position: relative;
}
#about-concept{
  position: relative;
}
.concept-container{
  max-width: 800px;
  padding: 0 10px;
}
.concept-img-wrapper{
  max-width: 530px;
  position: absolute;
  top: 81px;
  left: 9.765%;
}
.concept-manimg-wrapper{
  max-width: 440px;
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 1;
}
.concept-text-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0 292px 0;
  position: relative;
  z-index: 1;
}
#about-concept .concept-text-wrap{
  margin-top: 64px;
  margin-bottom: 120px;
}
.concept-logoimg-wrapper{
  max-width: 22px;
  display: inline-block;
}
.concept-concept{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--mos-green);
}
.concept-index{
  font-size: 2.4rem;
  color: var(--mos-green);
}
.concept-title{
  margin-top: 32px;
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--mos-green);
}
.concept-text{
  margin-top: 38px;
  max-width: 320px;
}
.concept-textbutton-wrapper{
  box-sizing: content-box;
  padding: 3px 23px 3px 23px;
  width: 108.25px;
  margin: 24px auto 0 151px;
  border: solid 1px var(--black);
  border-radius: 6px;
}
#about-concept .concept-textbutton-wrapper{
  display: none;
}

.concept-text-button{
  color: var(--black);
  font-size: 14px;
}
.concept-right-img{
  max-width: 400px;
}

@media(max-width:768px){
  .concept-img-wrapper{
    top: 470px;
    left: -20%;
  }
  .concept-text-wrap{
    flex-direction: column-reverse;
   /* text-align: center;*/
  }
  #about-concept .concept-text-wrap{
    margin-bottom: 100px;
  }
  .concept-title{
    font-weight: 700;
    font-size: 2.4rem;
  }
  .br-none{
    display: none;
  }
  .concept-text{
    max-width: none;
    text-align: left;
  }
  .concept-textbutton-wrapper{
    box-sizing: content-box;
    padding: 0 23px;
    width: 108.25px;
    margin: 24px auto 0 auto;
  }

}

/*ここからcourse*/

#course{
  position: relative;

  background-color: var(--light-green);
}
#course-course{
  background-color: #FAFAFA;
}

.course-line-img{
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: -121px;
  z-index: 1;
}
.couse-line2-img{
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: -111px;
  z-index: 2;
}

.course-img{
  max-width: 441px;
  position: absolute;
  top: 227.76px;
  left: 125px;
  z-index: 3;
}
.course-man-img{
  max-width: 440px;
  position: absolute;
  bottom: 60px;
  right: 0;
  z-index: 3;
}


.course-container{
  position: relative;
  z-index: 999;
  box-sizing: content-box;
  padding:0 10px 167px 10px;
  max-width: 800px;
  margin: 0 auto;


}
.course-index-wrapper{
  text-align: center;
}
.course-mark{
  max-width: 16px;
  display: inline-block;
}
.course-index{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--mos-green);
  display: inline-block;
}

.course-text{
  max-width: 342px;
  font-size: 2.4rem;
  color: var(--mos-green);
  margin: 20px auto 0 auto;
}

.course-wrap{
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;

}

.course-room-img{
  max-width: 360px;
  border-radius:24px;
  overflow: hidden;
}
.course-index-2{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-green);
  margin-top: 32px;
}
.course-ul{
  font-size: 1.8rem;
  color: var(--black);
  margin-top: 24px;
}
.course-list{
  box-sizing: content-box;
  margin-left: 38px;
}
.course-list:nth-of-type(2),
.course-list:nth-of-type(3){
  margin-top: 13px;
}
.course-button-wrapper{
  box-sizing: content-box;
  padding: 0 23px;
  width: 143px;
  margin: 32px auto 0 auto;
  border: solid 1px var(--black);
  border-radius: 6px;
}
.course-button{
  color: var(--black);
  font-size: 1.4rem;
}

@media(max-width:768px){
  .course-wrap{
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  #course-course .course-wrap{
    align-items: start;
  }
  #course-course .course-room-img{
    max-width: 580px;
  }
  .course-mark{
    max-width: 14px;
  }
  .course-index{
    font-size: 1.8rem;
  }
  .course-text{
    font-size: 1.8rem;
  }
  .course-wrapper{
    margin-top: 40px;
  }
  #course-course .course-wrapper{
    width: 100%;
  }
  .course-button-wrapper{
    border: solid 1px var(--dark-green);
    border-radius: 6px;
  }
  .course-button{
    color: var(--dark-green);
  }
}

/*ここからvoice*/
#voice{
  position: relative;
  z-index: 990;
  background-color: #FFFFFF;
}
.voice-top-img{
  max-width: 100%;
  position: relative;
}
.voice-top-img1{
  max-height: 320px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slick2-1{
  display: none;
}
.voice-half-img{
  max-width: 515.39px;
  min-width: 240px;
  position: absolute;
  bottom: 0;
  left: 50%;
  /*これでまずは左端を親要素から50％の位置に合わせる*/
  transform: translateX(-50%);
  /*transformで自分の大きさ分の50％をマイナスで戻して中央に行く*/
 
}
/*course-index-wrapperと同じｈｔｍｌを使いまわす*/
.voice-index{
 transform: translateY(-31px);
}

.voice-container{
  max-width: 878px;
  margin: 60px auto 39px auto;
}
.voice-wrap{
  display: flex;
  justify-content: space-around;
}
.voice-wrapper{
  text-align: center;
}
.voice-img{
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;

}
#voice .voice-img{
    border: solid 1px gray;
}
.voice-name{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-green);
  margin-top: 32px;

}
.voice-text{
  max-width: 252px;
  font-size: 1.8rem;
  color: var(--black);
  margin-top: 24px;
  text-align: left;
}
.voice-button-wrapper{
  /*box-sizing: content-box;
  padding: 3px 23px 3px 23px;*/
  width: 178px;
  margin: 48px auto 0 auto;
  border: solid 1px var(--black);
  border-radius: 6px;
  text-align: center;
}
.course-button{
  line-height: 32px;
}

@media(max-width:768px){
  .voice-wrap{
    flex-direction: column;
    align-items: center;
  }
  .voice-container{
    max-width: 878px;
    margin-top: 0;
  }
  .voice-wrapper{
    margin-top: 48px;
  }
  .voice-name{
    margin-top: 16px;
  }
  .voice-text{
    max-width: none;
    padding: 0 20px;
  }

  .voice-button-wrapper{
    border: solid 1px var(--dark-green);

  }
  #slick2-1{
    display: block;
  }
  #slick2{
    display: none;
  }
}

/*ここからmap*/
#map{
  position: relative;
  background-color: var(--light-green);
}
/*.map-line{
  position: absolute;
  max-width: 100%;
  top: -140px;
  left: 0;
  right: 0;
  z-index: 1;
}*/

.map-mark-wrap{
  text-align: center;
  margin-top: 0 auto;
  position: relative;
  z-index: 995;
}
.map-mark{
  max-width: 16px;
  display: inline-block;
}
.map-index{
  font-weight: 700;
  font-size: 24px;
  color: var(--mos-green);
  display: inline-block;
}

.map-container{
  max-width: 1026px;
  margin: 40px auto 0 auto;
  padding : 0 10px;
}

.map-hours-wrap{
  display: flex;
  justify-content: center;
}
.map-left-wrapper{
  max-width: 459px;
}

.map-road{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--mos-green);
}
.map-adress{
  margin-top: 16px;
  font-size: 1.6rem;
}
.map-tel-wrapper{
  font-weight: 700;
  color: var(--mos-green);
  margin-top: 1.6rem;
}
.map-tel{
  display: inline;
  font-size: 17.78px;
}
.map-number{
  display: inline;
  font-size: 24px;
}
.map-table{
  border-radius: 4px;
}


table {
  max-width: 100%;
  margin-top: 16px;
  font-size: 1.4rem;
  text-align: center;
  border-collapse: separate;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  border-spacing: 0;
}
th{
  padding: 8px 16px;
  background-color: var(--mos-green);
  font-weight: 700;
  color: var(--white);
  border-left: 1px solid #DDDDDD;
  width: 100%;
}


td{
  color: var(--mos-green);
  font-size: 1.4rem;
  padding: 6px 0 6px 0;
  border-left: 1px solid #DDDDDD;
}

.boader-radius1{
  border-radius: 6px 0 0 0;
}
.boader-radius2{
  border-radius: 0 6px 0 0;
}
.boader-radius3{
  border-radius: 0 0 6px 0;
}
.boader-radius4{
  border-radius: 0 0 0 6px;
}

tr:nth-of-type(2) th,
tr:nth-of-type(2) td{
  background-color: var(--white);
  color: var(--mos-green);
}
tr:nth-of-type(3) th,
tr:nth-of-type(3) td{
  background-color: #F6F6F6;
  color: var(--mos-green);
}


.map-reserve{
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--green);
  padding: 14px 22px;
  width: 300px;
  border-radius: 4px;
  margin-top: 32px;
}
.map-reserve-text{
  color: var(--white);
}

.map-right-wrapper{
  width: 509px;
  padding-left: 20px;
}

.map-map-wrapper{
  box-sizing: border-box;
  position: relative;
	width: 100%;
	padding-top: 75%; /* = height ÷ width × 100 */
}
.map-map-wrapper iframe{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.map-arrow-img{
  max-width: 64px;
  position:fixed;
  bottom: 128px;
  right: 34px;
  z-index: 999;
}

@media(max-width:768px){
  .map-hours-wrap{
    flex-direction: column;
    align-items: center;
  }
  .map-right-wrapper{
    margin-top: 40px;
  }
  .map-mark{
    max-width: 14px;
  }
  .map-road,
  .map-index,
  .map-number{
    font-size: 1.8rem;
  }

  table {
    max-width: 100%;
    margin-top: 16px;
    font-size: 1.0rem;
  }
  th{
    padding: 4.5px 9px;
    background-color: var(--mos-green);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white);
    border-left: 1px solid #DDDDDD;
    width: 100%;
  }
  
  
  td{
    color: var(--mos-green);
    font-size: 1.4rem;
    padding: 6px 0 6px 0;
    font-weight: 500;
  }


  .map-reserve{
    margin: 32px auto 0 auto;
    font-size: 1.4rem;
    text-align: center;
    width: 288px;
  }
  .map-arrow-img{
    max-width: 48px;
    bottom: 78px;
    right: 18px;
  }
}

@media(max-width:520px){
  .map-right-wrapper{
    width: 310px;
    padding:0 5px;
  }
}

/*ここからfooter*/
footer{
  background-color: var(--light-green);
  box-sizing: content-box;
  padding: 100px 20px 87px 20px;
  
}
.footer-container{
  max-width: 945px;
  margin: 0 auto;
}
.footer-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo{
  max-width: 240px;
}
@media(max-width:980px){
  .footer-logo{
    max-width:150px;
  }
}
  

.footer-right-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 26px;
}
.footer-right-wrapper li{
  list-style: none;
}
.footer-right-wrapper li a{
  color: var(--text);
}

.footer-last{
  background-color: var(--mos-green);
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: var(--white);
}

@media(max-width:768px){
  .footer-wrap{
    flex-direction: column;
    align-items: center;
    
  }
    .footer-logo{
    max-width:240px;
      margin-bottom: 40px;
  }
  .footer-right-wrapper{
    flex-direction: column;
  }
}


/*ハンバーガーメニューcss*/

.hamburger-menu{
  width: 24px;
  height: 19px;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
  margin: 0 20px 0 auto;
  z-index: 999;
}
.hamburger-menu__bar {
  display: inline-block;
  width: 75%;
  height: 2px;
  background: var(--mos-green);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}
.hamburger-menu__bar:first-child {
  top: 1px;
}
.hamburger-menu__bar:nth-child(2) {
  top: 7px;
}
.hamburger-menu__bar:last-child {
  top: 13px;
}
.hamburger-menu--open .hamburger-menu__bar {
  top: 50%;/*これはどういう意味か*/
}
.hamburger-menu--open .hamburger-menu__bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu--open .hamburger-menu__bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
  display: none;
}
.navigation-ham {
  display: none;
  background: var(--white);
  position: absolute;
  top: 0%;
  max-width: 100%;
  z-index: 998;
}
.ham-burger-menu{
  max-width: 196px;
  margin: 23px auto 52px 20%;
}
.ham-burger-menu2{
  max-width: 196px;
  margin: 115px auto 52px 20%;
}

.ham-menu{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-green);
  max-width:300px;
  margin: 0 auto 0 20%;
  text-align:stat;
}
.navigation__list {
  max-width: 300px;
  margin: 0 auto 32px 20%;
  text-align: start;
  list-style: none;
  padding: 0;
}
.navigation__list li > a{
  color: var(--text);
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 16px 0;
  transition: .5s;
}

.navigation__list li:last-child{
  background-color: #0C4324;
  border-radius: 4px;
  text-align: center;

}
.navigation__list li:last-child a{
  color: var(--white);
}
.navi-info-wrapper{
  max-width: 256px;
  margin: 0 auto;
  font-size: 16px;
}
.navi-info-title{
  width: auto;
}
.navi-info{
  font-size: 24px;
  color: var(--dark-green);
  font-weight: 700;
}
.navi-info-wrapper{
  display: flex;
  flex-direction: column;
  color: var(--text);
}
.navi-day-wrapper{
  display: flex;
}
.navi-info-day{
  width: 150px;
}
.navi-info-a{
  color: var(--text);
}
.navi-day-wrapper{
  margin-top: 10px;
}
.navi-day-wrapper:nth-of-type(3){
  margin-bottom: 10px;

}





@media (hover: hover) and (pointer: fine) {
  .navigation__link:hover {
    background: #333;
    color: var(--white);
  }
}
/*ハンバーガーメニュー終わり*/
/*↓ハンバーガーメニューのレスポンシブ*/
.ham-wrap-wrap{
  display: none;

}



@media(max-width:1050px){
  .ham-wrap-wrap{
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    }


    .ham-wrap{
      display:inline-block;
      position: absolute;
      top: 16px;
      right: 20px;
      width: 24px;
      }
    
    #about-header .ham-wrap{
      top: 32px
    }
  

  .navigation-ham {
    top: 0px;
    right: 0;
    width: 1050px;
    z-index: 998;
  }

  #about-header .navigation-ham{
    top: -65px;
  }
}

/*ページネーションの出現と加工*/
#slick .slick-dots {
  width: auto;
  /*↑なぜこうしたら、タグの幅が縮まるのか。親要素のdivタグの横幅いっぱいに広がらないのは何故か*/
  bottom: 32px;
  right: 50px;
  
}
#slick-1 .slick-dots {
  width: auto;
  /*↑なぜこうしたら、タグの幅が縮まるのか。親要素のdivタグの横幅いっぱいに広がらないのは何故か*/
  bottom: 32px;
  right: 50px;
  
}
#slick .slick-dots li button:before{
  content: "";
  width: 22.5px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--white);
  opacity: 1;
  z-index: 1;
}
#slick-1 .slick-dots li button:before{
  content: "";
  width: 22.5px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--white);
  opacity: 1;
  z-index: 1;
}


#slick .slick-dots li{
  margin: 0;
}
#slick-1 .slick-dots li{
  margin: 0;
}
#slick .slick-dots li.slick-active button:before{
  background-color: var(--mos-green);
  z-index: 2;
}
#slick-1 .slick-dots li.slick-active button:before{
  background-color: var(--mos-green);
  z-index: 2;
}


/*ここからabout.html*/
#about{
  position: relative;
}



.about-button-wrapper{
  margin: 24px auto 0 152px;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 20px;
}
.about-home{
  color: var(--text);
}
.about-arrow{
  display: inline-block;
  max-width: 14px;
}
.about-about,
.page-name-info{
  font-size: 1.4rem;
  color: var(--dark-green);
}
.about-home{
  color: var(--text);

}

@media(max-width:768px){
  .about-button-wrapper{
    margin: 150px auto 0 20px;
  }
  .about-about{
    position: relative;
    z-index: 9999;
  }
  .ham-wrap{
      top:25px;
      }
     #about-header .ham-wrap{
      top: 50px
    }
}


/*aboutのconcept*/

/*ここからflow*/
#flow{
  position: relative;
}
.flow-img-wrapper{
  max-width: 530px;
  position: absolute;
  top: 81px;
  left: 9.765%;
}
.flow-manimg-wrapper{
  max-width: 440px;
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 1;
}
.about-flow-ul{
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 108px;
  margin-bottom: 212px;
}
.about-flow-ul li{
 margin-bottom: 16px;

}
.flow-wrap{
  margin: 0 20px 120px 20px;
}

@media(max-width:768px){
  .flow-img-wrapper{
    top: 470px;
    left: -10%;
  }
  .about-flow-ul{
    margin-top: 32px;
    margin-bottom: 20px;
    padding-left: 15px;
  }
  .flow-manimg-wrapper{
   display: none;
  }


}

/*ここからaboutのimprove*/
#improve{
  padding: 62px 0 15px 0;
}
.about-improve-container{
  max-width: 1056px;
}
.about-improve-text1{
  max-width: 680px;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--mos-green);
  margin: 20px auto 0 auto;
}
.abour-br{
  display: none;
}
.about-improve-img{
  border-radius: 24px;
  max-width: 320px;
  max-height: 320px;
}
.about-improve-text{
  text-align: center;
  max-width: 360px;
  font-weight: 700;
}

@media(max-width:1050px){
  .about-improve-img{
    max-width: 250px;
    max-height: 250px;
  }
  .about-improve-text{
    margin-top: 16px;
    font-weight: 700;
  }
  
}

@media(max-width:768px){
  .abour-br{
    display: inline-block;
    text-align: center;
  }
  .about-improve-text1{
    max-width: 736px;
    margin: 20px 16px 0 16px;
    text-align: center;
    font-size: 1.8rem;
  }
  
}

/*ここからcourse*/
#course-course{
  padding: 64px 0;
}
.coursepage-container{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}
/*ここからcourse-insurance・selfpay*/
#insurance{
  padding: 32px 16px;
}


.course-insurance-container{
  max-width: 965px;
  margin: 0 auto;
}
.insurance-wrap{
  display: flex;
  justify-content: space-around;
}
.insurance-img{
  max-width: 21.24px;
  display: inline-block;
}
.insurance-left-wrapper{
  margin: 0 10px;
  max-width: 43%;
}
.insurance-left-wrapper span{
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--mos-green);
  margin-left: 5px;
}
.insurance-left-wrapper h3{
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--mos-green);
}

.insurance-text{
  margin-top: 32px;
  font-size: 1.6rem;
}
.insurance-ol{
  margin-top: 32px;
  margin-left: 16px;
}
.insurance-ol li{
  font-size: 1.6rem;
  font-weight: 400;
}
.insurance-ol li:nth-of-type(2){
  margin-top: 12px;
  margin-bottom: 12px;
}
.insurance-right-wrapper{
  width: 50%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}
#selfpay{
  padding: 32px 16px;
}

.selfpay-rate{
  margin-top: 32px;
  font-weight: 400px;
  font-size: 1.6rem;
}
.insurance-selfpay-br{
  display: none;
}

@media(max-width:768px){
  #course-course{
    padding: 32px 0;
  }
  .insurance-wrap{
    flex-direction: column-reverse;
    align-items: start;
  }
  .insurance-left-wrapper{
  max-width: 100%;
}
 
  .insurance-left-wrapper h3{
    font-size: 1.8rem;
  }
  .insurance-text{
    display: none;
    
  }
  .insurance-ol li{
    font-size: 1.8rem;
  }
  .insurance-right-wrapper{
    width: 100%;
    margin: 32px 0;
  }
  .insurance-selfpay-br{
    display: block;
  }
  
}

/*ここから　informationお知らせ（news）infolist*/
#infolist{
  padding: 32px 0;
}
.infolist-container{
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
}
.infolist-wrap{
  display: flex;
  justify-content: space-between;
}
.infolist-left-wrapper{
  display: flex;
  justify-content: start;
  padding-bottom: 64px;
}

.infolist-img-wrapper{
  width: 320px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
}
.infolist-title-wrapper{
  padding: 0 32px;
}
.infolist-title{
  max-width: 370px;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.infolist-title a{
  color:#000000;
  font-size:2.4rem;
  font-weight:700;
}
.infolist-title a:hover{
  color: #0000FF;
}

.infolist-date{
  display: inline-block;
  margin-right: 30px;
  font-size: 1.8rem;
  font-weight: 400;
}
.infolist-open{
  background-color: var(--mos-green);
  border-radius: 4px;
  padding: 2px 16px;
}
.infolist-open a{
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
}

@media(max-width:768px){
  .infolist-wrap{
    flex-direction: column;
  }
  .infolist-left-allwrap{
    padding-bottom: 32px;
  }
  .infolist-left-wrapper{
    flex-direction: column;
    padding-bottom: 40px;
  }
  .infolist-img-wrapper{
    max-width: 100%;
    border-radius: 16px;
    margin: 0 auto 16px 0;
  }
  .infolist-title-wrapper{
    padding: 0;
  }
  .infolist-title{
    max-width: initial;
    font-size: 1.8rem;
  }

  .infolist-right-wrapper{
    padding-top: 32px;
  }
}  

/*ページネーション (これは自分で作ったページネーション用）*/
/*.nav-links{
  padding:0;
  display:flex;
  justify-content:center;
  /*background:#f3f3f3;
}
.nav-links a,.nav-links span{
  width: 24px;
  height:24px;
  margin:2px;
  line-height:24px;
  text-align:center;
  font-size:1.6rem;
  font-weight:500;
  text-decoration:none;
  background:#fff;
  color: var(--mos-green);
  transition:.3s;
}
.nav-links a:hover{
  background: var(--mos-green);
  /*border-radius:100%;
  transform:rotate(360deg);
  color: var(--white);
}
.nav-links .current{
  background:gold;
  border-radius:100%;
}
.nav-links .dots{
  background:none;
}*/
/*ページネーション終わり*/

.infolist-category{
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--dark-green);
  margin-bottom: 32px;
}
.infolist-right-wrapper{
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--dark-green);
  margin-bottom: 32px;
}
.infolist-right-wrapper li{
  margin-bottom: 16px;
  list-style: none;
}
.infolist-right-wrapper li a{
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text);
}

@media(max-width:768px){
  .infolist-category{
    font-size: 1.8rem;
  }
}

/*ここからpage-name*/
/*.about-button-wrapper div:last-of-type,
.about-button-wrapper span:last-of-type{
  display: none;
}*/
#page-name{
  padding: 32px 0 120px 0;
}
.page-name-container{
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
}
.page-name-wrap{
  display: flex;
  justify-content: space-between;
}
.page-name-left-allwrap{
  max-width: 758px;
}
.page-name-left-wrapper .page-name-title{
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--dark-green);
  margin-bottom: 24px;
}

.page-name-day{
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--black);
  display: inline-block;
  margin-bottom: 24px;
  margin-right: 30px;
}
.page-neme-content{
  background-color: var(--mos-green);
  margin-bottom: 24px;
  padding: 0 16px;
  text-align: center;
  border-radius: 4px;
}

.page-neme-content a{
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
}

.page-name-img-wrapper{
  max-width: 752px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  vertical-align: bottom;
}


#page-name h2{
  color: var(--dark-green);
  margin-bottom: 24px;
  font-size: 3.2rem;
}
#page-name h3{
  color: var(--dark-green);
  margin-bottom: 24px;
  font-size: 2.4rem;
}
#page-name h4{
  color: var(--dark-green);
  margin-bottom: 24px;
  font-size: 1.8rem;
}
.page-name-left-allwrap p{
  max-width: 752px;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 24px;
}

.page-name-right-wrapper{
  list-style: none;
}
.page-name-right-wrapper li:first-child{
  color: var(--dark-green);
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.page-name-right-wrapper li{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.page-name-right-wrapper li a{
  color: var(--text);
}

/*page-nemeの(ページネーション)*/
.page-name-nav-links{
  padding:0;
  display:flex;
  justify-content:center;
  padding-top: 60px;
  gap: 32px;
}
.page-name-nav-links a{
  font: size 1.8rem;
  font-weight:400;
  text-decoration:none;
  background:#fff;
  color: var(--text);
}
.page-name-nav-links a:hover{
  background: var(--mos-green);
  color: var(--white);
}

/*page-nemeの(ページネーション)終わり*/

@media(max-width:768px){
  /*.about-button-wrapper div:last-of-type,
  .about-button-wrapper span:last-of-type{
    display: inline-block;
  }*/
  .about-about{
    color: var(--dark-green);
  }
  #page-name{
    padding: 32px 0 32px 0;
  }
  .page-name-container{
    width: 100%;
  }
  .page-name-wrap{
    flex-direction: column;
  }
  /*.page-name-left-allwrap{
    max-width: 758px;
  }*/
  .page-name-left-allwrap{
    padding-bottom: 32px;
  }
  .page-name-title{
    font-size: 2.4rem;
    margin-bottom: 16px;
  }
  .page-name-day{
    margin-bottom: 32px;
    display: inline;
    /*？？？？？何故display-inline-blockではダメなのか？？？？？*/
  }
  .page-neme-content{
    display: inline-block;
    margin-bottom: 32px;
  }
  
  .page-name-img-wrapper{
    width: 100%;
    margin-bottom: 32px;
  }
  
  #page-name h2,
  #page-name h3,
  #page-name h4{
    font-size: 2.4rem;
    margin-bottom: 16px;
  }

  .page-name-left-allwrap p{
    width: 100%;
    margin-bottom: 32px;
  }
  
  .page-name-right-wrapper{
    list-style: none;
    padding: 32px 16px 0 16px;
  }
  .page-name-right-wrapper li:first-child{
    color: var(--dark-green);
    font-size: 1.8rem;
  }
  .page-name-right-wrapper li{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 32px;
  }
  .page-name-right-wrapper li a{
    color: var(--text);
  }
  
  /*page-nemeの(ページネーション)*/
  .page-name-nav-links{
    padding:0;
    display:flex;
    justify-content:center;
    padding-top: 60px;
    gap: 32px;
  }
  .page-name-nav-links a{
    font: size 1.6em;
  }
  .page-name-nav-links a span{
    display: none;
  }
  .page-name-nav-links a:hover{
    background: var(--mos-green);
    color: var(--white);
  }

  
  .page-name-nav-links{
    padding-top: 32px;
    gap: 16px;
  }
  .page-name-nav-links a{
    font-size: 1.6rem;
  }

}

/*ここからvoice(-page)*/
#voice-page{
  padding: 64px 0 81px 0;
}
.voice-page-cotainer{
  max-width: 868px;
  margin: 0 auto;
}
.voice-page-wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.voice-page-img-wrapper{
  max-width: 180px;
  min-width: 130px;
  max-height: 180px;
  min-height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.voice-page-text-wrapper{
  max-width: 640px;
  margin-left: 48px;
}
.voice-page-cust{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-green);
  margin-bottom: 24px;
  text-align: start;
}
.voice-page-text{
  font-weight: 400;
  font-size: 1.6rem;
}
.vonce-page-br{
  display: none;
}

/*自分で作成したページネーション用　使わない*/
/*.voice-page-nav-links{
  padding:0;
  display:flex;
  justify-content:center;
  /*background:#f3f3f3;
}
.voice-page-nav-links a,.voice-page-nav-links span{
  width: 24px;
  height:24px;
  margin:2px;
  line-height:24px;
  text-align:center;
  font-size:1.6rem;
  font-weight:500;
  text-decoration:none;
  background:#fff;
  color: var(--mos-green);
  transition:.3s;
}
.voice-page-nav-links a:hover{
  background: var(--mos-green);
  /*border-radius:100%;
  transform:rotate(360deg);
  color: var(--white);
}
.voice-page-nav-links .current{
  background:gold;
  border-radius:100%;
}
.voice-page-nav-links .dots{
  background:none;
}
/*ページネーション終わり*/

@media(max-width:930px){
  .voice-page-cotainer{
    margin: 0 16px 0 16px;
  }
}

@media(max-width:768px){
  .voice-page-wrap{
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }
  .voice-page-img-wrapper{
    margin-bottom: 16px;
  }
  .voice-page-cust{
    text-align: center;
  }
  .voice-page-text-wrapper{
    max-width: 640px;
    margin-left: 0px;
  }
  .vonce-page-br{
    display: block;
  }

  
}

/*ここからcontainer*/
#contact{
  padding: 32px 0 80px 0;
}
.contact-cotainer{
  max-width: 752px;
  margin: 0 auto 0 152px;
}
.contact-way{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-green);
  line-height: 34.75px;
  margin-bottom: 13px;
}
.contact-add{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22.4px;
  margin-bottom: 22px;
}
.contact-tel{
  font-weight: 700;
  font-size: 17.78px;
  color: var(--text);
  margin-bottom: 25px;
}
.contact-tel span{
  font-size: 2.4rem;
  color: var(--dark-green);
}
.contact-text-title{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-green);
  margin-bottom: 24px;
}
.contact-return{
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 24px;
}

.contact-form-warapper{
  margin-bottom: 48px;
}

.contact-form-label{
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 16px;
}
.contact-form-label span{
  font-size: 1.4rem;
}

.contact-form-text{
  border: solid 1px var(--text);
  width: 100%;
  height: 44px;
  padding: 16px
}
.contact-form-select{
  border: solid 1px var(--text);
  width: 100%;
  height: 44px;
}
.contact-form-select option{
  font-size: 1.6rem;
  font-size: 400;

}
.contact-form-select option:nth-of-type(1){
  opacity: 0.5;
}
.contact-form-textarea{
  border: solid 1px var(--text);
  width: 100%;
  height: 140px;
  padding: 16px
}
.contact-form-submit-wrapper{
  text-align: center;
}
.contact-form-submit{
  width: 240px;
  height: 48px;
  background-color: var(--green);
  color: var(--white);
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 4px;
  cursor: pointer;
}

@media(max-width:768px){
  .contact-cotainer{
    max-width: 752px;
    margin: 0 16px 0 16px;
  }
  .contact-way{
    margin-bottom: 8px;
  }
  .contact-tel{
    font-size: 1.6px;
    margin-bottom: 23px;
  }
  .contact-tel span{
    font-size: 1.778rem;
    color: var(--dark-green);
  }
}

/*ここからcontact-thanks*/
#contact-thanks{
  padding: 32px 0 162px 0;
}
.contact-thanks-frame{
  max-width: 752px;
  padding: 62px 0;
  text-align: center;
  border: solid 1px #CCCCCC;
  margin: 0 auto;
}
.thanks-title{
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-green);
  margin-bottom: 24px;
}
.thanks-text{
  font-weight: 500;
  font-size: 1.6rem;
  opacity: 0.6;
  margin-bottom: 32px;
}
.thanks-button{
  width: 240px;
  height: 48px;
  line-height: 48px;
  background-color: var(--green);
  border-radius: 4px;
  margin: 0 auto;
}
.thanks-button a{
  font-weight: 700;
  color: var(--white);
  
}

@media(max-width:768px){
  #contact-thanks{
    padding: 32px 0 64px 0;
  }
  .contact-thanks-cotainer{
    padding: 0 16px;
  }
  .contact-thanks-frame{
    max-width: 752px;
    padding: 16px 0;
  }
  .thanks-title{
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--dark-green);
    margin-bottom: 16px;
  }
  .thanks-text{
    margin-bottom: 32px;
  }
  .thanks-button{
    width: 240px;
    height: 48px;
    line-height: 48px;
    background-color: var(--green);
    border-radius: 4px;
    margin: 0 auto;
  }
  .thanks-button a{
    font-weight: 700;
    color: var(--white);
    
  }
}

/*オーバーレイ*/
#overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, .8);
  z-index: 998;
  display:none;
}
#overlay.overlay-on{
  display: block;
}


/*wordpress用ページネーション　CSS*/
.nav-links{
  padding:0;
  display:flex;
  justify-content:center;
  text-align: center;
  /*background:#f3f3f3;*/
}
.navigation .nav-links span{
  background: var(--mos-green);
  color: var(--white);
}
.navigation .nav-links a, .nav-links span{
  line-height:24px;
  font-size:1.6rem;
  font-weight:500;
  text-decoration:none;
  background:#fff;
  color: var(--mos-green);
  transition:.3s;
}
/*.nav-links a:hover{
  background: var(--mos-green);
  color: var(--white);
}*/

.nav-links .dots{
  background:none;
}

.navigation .nav-links .page-numbers{
  list-style: none;
  display:flex;
  justify-content: center;
  border-radius: initial;
}
.navigation .nav-links .page-numbers li{
  width: 24px;
  height:24px;
}


  